*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
}
p,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}
.main-wrap {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 0px #000000;
}
.tabs {
    width: auto;
    text-align: center;
}

.tabs > input[type="radio"] {
    display: none;
}

.tabs > div {
    display: none;
    padding: 10px 15px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2 {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 504px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: #000000;
    background-color: #ffffff;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.page-one {
    border-top-left-radius: 6px;
}
.page-two {
    border-top-right-radius: 6px;
}

.tabs > label {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    user-select: none;
    background-color: #418245;
    width: 250px;
    padding: 10px;
    font-size: 20px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
}
.tabs > input[type="radio"]:checked + label {
    background-color: #fff;
    color: #418245;
    border: none;
}
.convert_item_one {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 20px;
}
#val {
    width: 160px;
    border: 1px solid #000000;
    outline: none;
}
#currency1 {
    width: 64px;
    border: 1px solid #000000;
    outline: none;
}
#currency2 {
    width: 64px;
    border: 1px solid #000000;
    outline: none;
}
.butt {
    width: 40px;
    height: 22px;
}
#rate-text {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 100%;
}
#rate-text-storage {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 100%;
}
.clear-rates-storage {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.date-text {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
}
.date-text-storage {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;
}
.save-rates {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #bd7ccf;
    color: #000000;
    border-radius: 3px;
    outline: none;
}
.journal-rates {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80px;
    margin-right: 20px;
    cursor: pointer;
}
#main-date {
    font-size: 16px;
}
.title-currency {
    font-size: 20px;
    margin-bottom: 5px;
}
.currency-code {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.currency-name {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.currency-rate {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 55px;
    height: 100%;
}
.info-wrap {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 15px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #bdbdbd;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.journal-info {
    display: -webkit-box;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 480px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    border-radius: 6px;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 0px #000000;
}
.popupIsOpened {
    display: flex;
}
.close-journal {
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80px;
    height: 22px;
    color: #000000;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    margin-right: 5px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.open-journal {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    margin-right: 20px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 3px;
    outline: none;
}
.text-journal-info {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    position: relative;
    border-radius: 6px;
}
.journal-import {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    overflow: auto;
    position: relative;
    border-radius: 6px;
}
#main-date-storage {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
}
.upper-wrap {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
